body {
	background-color: #1e213f;
}

.App {
	display: flex;
	flex-direction: column;
	margin-top: 2.5%;
	text-align: center;
	justify-content: center;
}

.title {
	width: 100%;
	margin-bottom: 5%;
	text-align: center;
	color: #d7e0ff;
}

input {
	height: 4vh;
	width: 70%;
	font-size: 1.3em;
	font-weight: bold;
	border-radius: 12px;
	padding-left: 2%;
	border-style: none;
	background-color: #eff1fa;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type="number"] {
	-moz-appearance: textfield;
}

button {
	cursor: pointer;
	border-style: none;
	background: none;
}

@media all and (max-width: 410px) {
	body {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.App {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.tilte {
		text-align: center;
		margin: auto;
	}
}
