.circularProgress {
	width: 410px;
	height: 410px;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
}

@media all and (max-width: 410px) {
	.circularProgress {
		width: 240px;
		height: 240px;
		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;
		/* margin: auto; */
	}
}
