.main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
	margin: 0 auto;
}

.clockContainer {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.clock {
	border-radius: 50%;
	position: relative;
	display: flex;
	width: 410px;
	height: 410px;
	margin: 2.5% auto 0 auto;

	flex-direction: column;
	justify-content: center;

	background: rgb(46, 50, 90);
	background: linear-gradient(
		315deg,
		rgba(46, 50, 90, 1) 0%,
		rgba(14, 17, 42, 1) 100%
	);
}

.time {
	color: #d7e0ff;
	font-size: 5em;
	font-weight: bold;
}

.pauseReset {
	z-index: 1000;
	text-align: center;
	margin-top: 10%;
	font-size: 1em;
	letter-spacing: 0.5em;
	color: white;
	font-weight: bold;
}

@media all and (max-width: 410px) {
	.clockContainer {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.clock {
		max-width: 290px;
		max-height: 290px;
		margin: 2.5% auto 0 auto;
		display: flex;
		position: relative;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.time {
		font-size: 3em;
	}
}
