.settings-icon {
	margin-top: 2.5%;
	cursor: pointer;
	transition: all 1s;
	transform-origin: 50% 50%;
}

.settings-icon:hover {
	transform: scale(1.2) rotate(90deg);
}

.modal {
	width: 55%;
	position: absolute;

	left: 0;
	right: 0;
	top: 10%;
	margin: 0 auto 0 auto;

	text-align: left;
	background-color: #fff;
	border-radius: 25px;
	z-index: 10;
}

.modal-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 3%;
	border-bottom: 1px solid lightgray;
}

.settings-title {
	color: #000;
	margin-left: 3%;
}
.close-icon {
	height: 15px;
	width: 15px;
	bottom: 0;
	margin-right: 3%;

	cursor: pointer;
	transition: all 1s;
	transform-origin: 50% 50%;
}

.close-icon:hover {
	transform: scale(1.2) rotate(90deg);
}

.settings {
	height: 50vh;
	padding: 3%;
	display: flex;
	flex-wrap: wrap;
	margin: 0 3% 0 3%;

	font-size: 0.7em;
	letter-spacing: 0.5em;
}
.time-settings {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
	height: 100%;
}

.input-container {
	display: flex;
	justify-content: space-between;
}

.input-main-wrapper {
	display: flex;
	width: 100%;
	flex-direction: column;
}

.input-title {
	color: #000;
	width: auto;
	letter-spacing: 0.1em;
	font-size: 1.2em;
	font-weight: 500;
	opacity: 0.4;
}

.input-arrow-wrap {
	position: relative;
	display: flex;
	justify-content: space-between;
}

.time-input {
	padding-left: 8%;
	height: 10vh;
	width: 100%;
}

.arrow-wrapper {
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: space-evenly;
	margin-right: 8%;
	position: absolute;
	right: 0;
}

.arrow {
	display: block;
	padding: 10%;
	margin: 3% 0 3% 0;
	width: 20px;

	cursor: pointer;
	border-style: none;
	background: none;
}

.button-wrapper {
	display: flex;
	width: 100%;
	justify-content: center;
	margin: auto -5% 0 0;
}

.time-submit-button {
	width: 120px;
	height: 75px;
	border-radius: 15px;

	color: #fff;
	font-size: 1.3em;
	font-weight: bold;

	cursor: pointer;
	border-style: none;
	background-color: #f87070;

	transition: all 1s;
	transform-origin: 50% 50%;
}

.time-submit-button:hover {
	background-color: #fc5858;
	transform: scale(1.05);
}
