.menu-bg {
	display: flex;
	justify-content: space-evenly;

	margin: 0 auto 0 auto;
	padding: 1%;
	border-radius: 40px;

	background-color: #161932;
}

.menu-item {
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;

	width: 106px;
	border-radius: 30px;
	font-weight: 500;

	color: #d7e0ff;
	cursor: pointer;
}

.menu-active {
	width: 106px;
	height: 50px;

	display: flex;
	justify-content: center;
	align-items: center;

	border-radius: 30px;
	font-weight: 500;

	background-color: #f87070;
	color: #161932;
	cursor: pointer;
}

@media all and (max-width: 410px) {
	.menu-bg {
		display: flex;
		justify-content: center;
	}

	.menu-item {
		height: 50px;
		width: 90px;
		font-size: 0.9em;
		display: flex;
		justify-content: center;
		align-items: center;

		border-radius: 30px;
		font-weight: 500;

		color: #d7e0ff;
		cursor: pointer;
	}

	.menu-active {
		width: 90px;
		height: 50px;
		font-size: 0.9em;

		display: flex;
		justify-content: center;
		align-items: center;

		border-radius: 30px;
		font-weight: 500;

		background-color: #f87070;
		color: #161932;
		cursor: pointer;
	}
}
